<div>
    <h1>
     <%= @the_board.name %>
    </h1>
</div>

<hr>
  <div>
    <h2>
      Add a new post
    </h2>
 
  <form action="/insert_post"  method="post" >
    <div><label for="title_field">Title</label>
    <input id="title_field" type="text" name="title"></div>

    <div><label for="body_field">Body</label>
    <textarea id="body_field" type="text" name="body"></textarea></div>

    <div><label for="expire_field">Expires on</label>
    <input id="expire_field" type="date" name="expires_on"></div>
    
    <div>
    <input id="board_id_field" type="hidden" name="board_id" value="<%= @the_board.id %>"></div>
    
    <button>
      Add post
    </button>
  </form>
  </div>

  <h2>Active posts</h2>
  <% matching_posts= Post.where({:board_id=>@the_board.id}).order({:expires_on =>:asc}) %>

  <table border="1">
   <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>

  <% matching_posts.each do |a_post|%>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at %></td>
      <td><%= a_post.expires_on %></td>
  </tr>
  <% end %>
 </table>


<hr>
